<script>
var app = angular.module('app',['ui.grid', 'ui.grid.edit']);
app.controller('MainCtrl', function($scope, $http) {
	$scope.gridOptions = {};
	$scope.gridOptions.columnDefs = [
		{ name: 'created_at', displayName: 'Registered' , type: 'date', cellFilter: 'date:"yyyy-MM-dd"', width: '20%' },
		{ name: 'f_name', displayName: 'Firts name', width: '25%' },
		{ name: 'l_name', displayName: 'Last name', width: '25%' },
		{ name: 'email', displayName: 'Email', width: '30%' },
	];

	$http.get('/trainers/getallTraineesTrainer?trainer[token]=<%= current_trainer.token %>')
		.success(function(data){
			for(i = 0; i < data.length; i++){
				data[i].registered = new Date(data[i].created_at);
			}
			//$scope. = data.data;
			$scope.gridOptions.data = data; 
	});
});

</script>


<div ng-controller="MainCtrl">
	<div  ui-grid="gridOptions" ui-grid-edit class="grid"></div>
</div>

