<html>
<head>
	<title>BlueWave</title>
</head>
<body>
<div>
 
<div class="border-form-div">
	<%= image_tag("blue_wave.jpg", :alt => "rss feed", :class => "imgSign")%>
	<h2>Adviser sign in</h2>
	<%= form_for @trainer, url: {action: "signIn"} do |f| %>
    		<%= f.email_field :email, :autofocus => true %>
    		<%= f.password_field :password %>
    	        <%= f.submit "Sign in", :class=>'btn btn-primary'%>  
        <% end %>
	<a href="trainer_profil">Registration</a><br>
	<a href="*****************">Forgot your password?</a><br>
</div>
</div>
</body>
</html>
