<h3>Change profil</h3>

<%= form_tag(controller: "trainer", action: "options", method: "POST") do %>
	<div class="form-group">
		<h3><%= label_tag(:package, "Package : ") %>
		<%= select_tag(:package, options_for_select(@packages, 2)) %>
</h3>
	</div>
	<div class="form-group">
	</div>

	<%= submit_tag("Submit",:class => "btn btn-primary" ) %>
<% end %>

