<html>
<head>
	<title>BlueWave</title>
</head>
<body>
<div class="row">
<div class="col-sm-1">
</div>
  <div class="col-sm-5 col-md-5">
    <div class="thumbnail">
      <div class="caption">
        <h3>My profil</h3>
        <p>
		<dl class="dl-horizontal">
		<dt>First name</dt>
		<dd><%= current_trainer.f_name %></dd>
		<dt>last name</dt>
		<dd><%= current_trainer.l_name %></dd>
		<dt>Email</dt>
		<dd><%= current_trainer.email %></dd>
		<dt>package</dt>
		<dd><%= @invoice.title %></dd>
		<dt>End date of package</dt>
		<dd><%= @invoice.date_end.to_formatted_s(:long)  %></dd>
		<dt>number of users</dt>
		<dd><%= current_trainer.trainees.size  %></dd>
		<dt>Max number of users</dt>
		<dd><%= @invoice.maxUsers  %></dd>
		</dl>
	</p>
      </div>
    </div>
  </div>
  <div class="col-sm-5 col-md-5">
    <div class="thumbnail">
      <div class="caption" >
	<div id="divConfirm"></div>
        <h3>Change options</h3>
        <p>
	<div ng-controller="MainCtrl">
	<%= form_tag() do %>
		<div class="form-group">			
			<%= select_tag(:package, options_for_select(@packages, 2), class:"form-control",ng_model: "packageJson", ng_click: "showDiv=false")%>
   		</div>
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="paidJson" ng_click="showDiv=false">
					12 month pre-paid subscription<font color="blue"> (Discount <%= @discount[0] %>%)</font>
				</label>
			</div>
		</div>
	</p>
	<% end %>
	<button type="button" class = "btn btn-primary" ng-click="updateTrainer()">Submit</button>
	 <a href="" ng-click="calculerPrix()">Show price</a>
	
		<div ng-show="showDiv" class="ng-hide">
			<h4>Price : <font color="green">{{ price }} &euro;</font></h4>
			<h4>Discount : <font color="red">{{ discount }} %</font></h4>
		</div>
	
	</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
<script>



</script>
<script>
var app = angular.module('app',['ui.grid', 'ui.grid.edit']);
app.controller('MainCtrl', function($scope, $http) {
	$scope.gridOptions = {};
	$scope.price=0;
	$scope.packageJson=0;
	$scope.discount=0;
	$scope.paidJson=false;
	$scope.showDiv=false;
	$scope.gridOptions.columnDefs = [
		{ name: 'created_at', displayName: 'Registered' , type: 'date', cellFilter: 'date:"yyyy-MM-dd"', width: '20%' },
		{ name: 'f_name', displayName: 'Firts name', width: '25%' },
		{ name: 'l_name', displayName: 'Last name', width: '25%' },
		{ name: 'email', displayName: 'Email', width: '30%' },
	];

	$http.get('/trainers/getallTraineesTrainer?trainer[token]=<%= current_trainer.token %>')
		.success(function(data){
			for(i = 0; i < data.length; i++){
				data[i].registered = new Date(data[i].created_at);
			}
			//$scope. = data.data;
			$scope.gridOptions.data = data; 
	});

  $scope.updateTrainer = function() {
	$http.get('/trainers/saveInvoice?trainer[token]=<%= current_trainer.token %>&package='+$scope.packageJson+'&prepaid='+$scope.paidJson)
		.success(function(data){
		alert(data);	
	});
  }
   $scope.calculerPrix = function() {
	var tabPrice = [];
	tabPrice = <%= escape_javascript @tabPrice.to_json %>;
	var tabDiscount=[];
	tabDiscount=<%= escape_javascript @discount.to_json %>;
	var oldPrice=0
	oldPrice = <%= @invoice.price  %>
	$scope.price=0;
	$scope.discount=0;
	angular.forEach(tabPrice, function(item) {
       		if (item[0]==$scope.packageJson) {
          	$scope.price=item[1];
		if(oldPrice<item[1]){
			$scope.discount=tabDiscount[1];
		}
        }});
	if ($scope.paidJson){
		$scope.price=$scope.price*12;
		$scope.discount=$scope.discount + tabDiscount[0];
	}
	if($scope.discount>0){
		$scope.price=($scope.price*(100-$scope.discount))/100
	}
	$scope.showDiv=true;
  }


});

</script>
<script>
/*$http.get('/trainers/updateTrainer/?email='+rowEntity.email);
			


$http.get('/someUrl').
  success(function(data, status, headers, config) {
	var confirm = '<div class="alert alert-success" role="alert">Profil of <Strong>' + rowEntity.f_name + ' ' + rowEntity.l_name+'</Strong> was successfully updated</div>';

	var myEl = angular.element( document.querySelector( '#divConfirm' ) );
	myEl.html(confirm )
  }).
  error(function(data, status, headers, config) {
    // called asynchronously if an error occurs
    // or server returns response with an error status.
  });*/
</script>

<div class="row">
<div class="col-sm-1">
</div>
<div class="col-sm-10 ">
	<h3>Users</h3>
	<div ng-controller="MainCtrl">
		<div  ui-grid="gridOptions" ui-grid-edit class="grid"></div>
	</div>
</div>

</div>


</body>
</html>
