<script>
var app = angular.module('app',['ui.grid', 'ui.grid.edit', 'ui.grid.autoResize']);
app.controller('MainCtrl', function($scope, $http) {
	$scope.gridOptions = {};
	$scope.gridOptions1 = {};
	$scope.gridOptions.columnDefs = [
		{ name: 'title', displayName: 'Title', width: '65%' },
		{ name: 'price', displayName: 'Price', width: '10%', type:'number' },
		{ name: 'max_users', displayName: 'Max of users', width: '15%', type:'number' },
		{ name: 'statut', displayName: 'Active', width: '10%', type: 'boolean' }];

	$scope.gridOptions1.columnDefs = [
		{ name: 'title', displayName: 'Title', width: '65%' },
		{ name: 'percentage', displayName: 'Discount (%)', width: '15%',
 type:'number' }];

 $scope.gridOptions.enableHorizontalScrollbar = 0;
 $scope.gridOptions1.enableHorizontalScrollbar = 0;


$scope.gridOptions1.enableVerticalScrollbar = 0;

	$http.get('/functions/getallPackages')
		.success(function(data){
			$scope.gridOptions.data = data; 
	});
	$http.get('/functions/getallDiscounts')
		.success(function(data){
			$scope.gridOptions1.data = data; 
	});
//Mise a jour du package
  $scope.msg = {};
 
 $scope.gridOptions.onRegisterApi = function(gridApi){
  $scope.gridApi = gridApi;
  gridApi.edit.on.afterCellEdit($scope,function(rowEntity, colDef, newValue, oldValue){
	$http.get('/functions/updatePackage/?type='+rowEntity.type+'&'+colDef.name+'='+newValue+'&statut='+rowEntity.statut);
			//.success(function(data) {};

            var confirm = '<div class="alert alert-success" role="alert">colDef was successfully updated</div>';
	    
     var myEl = angular.element( document.querySelector( '#divConfirm' ) );
myEl.html(confirm )
     //myEl.fadeIn( 30 )
   // myEl.fadeOut( 4000 );
          //  $scope.$apply();

          });
        };

//Mise a jour du discount
  
 
 $scope.gridOptions1.onRegisterApi = function(gridApi){
  $scope.gridApi = gridApi;
  gridApi.edit.on.afterCellEdit($scope,function(rowEntity, colDef, newValue, oldValue){
	$http.get('/functions/updateDiscount/?type='+rowEntity.type+'&'+colDef.name+'='+newValue);
			
            var confirm = '<div class="alert alert-success" role="alert">colDef was successfully updated</div>';
	    
     var myEl = angular.element( document.querySelector( '#divConfirm' ) );
myEl.html(confirm )
          });
        };
});

</script>
<h3>Package</h3>
	<div ng-controller="MainCtrl">
		<div  ui-grid="gridOptions" ui-grid-edit ui.grid.autoResize class="gridPackage">
	</div>
<BR>
<h3>Subscription options</h3>
<BR>
	<div class="span4">
		<div id="grid1" ui-grid="gridOptions1" ui-grid-edit class="gridDiscount">
	</div>
</div>
</div>

