<h3>New package</h3>

<form action="savePackage" methode="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="package[title]" id="title" class="form-control" placeholder="Title" required>
    </div>
    <div class="form-group">
      <label for="max_users">Max users</label>
      <input style="width:200px" type="number" name="package[max_users]" id="max_users" class="form-control" placeholder="Max users" required>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input style="width:200px" type="number" name="package[price]" id="price" class="form-control" placeholder="Price" required>
    </div>
    <input class="btn btn-primary" name="commit" type="submit" value="Submit">
</form>


