<script>
var app = angular.module('app', ['ui.grid', 'ui.grid.selection', 'ui.grid.edit']);

//trainers GRID 
app.controller('MainCtrl', ['$rootScope', '$scope', '$http', '$log', '$timeout', 'modal', '$interval','$compile', function ($rootScope, $scope, $http, $log, $timeout, modal, $interval, $compile) {
  $scope.gridOptions1 = { 
    enableRowSelection: true,
    enableSelectAll: true,
    selectionRowHeaderWidth: 35,
    rowHeight: 35,
    showGridFooter:true
  };
 
  $scope.gridOptions1.columnDefs = [
 		{ name: 'created_at', displayName: 'Registered' , type: 'date', cellFilter: 'date:"yyyy-MM-dd"', width: '14%',enableCellEdit: false },
		{ name: 'f_name', displayName: 'Firts name', width: '13%', enableCellEdit: false },
		{ name: 'l_name', displayName: 'Last name', width: '13%', enableCellEdit: false },
		{ name: 'email', displayName: 'Email', width: '26%', enableCellEdit: false },
		{ name: 'package', displayName: 'Package', width: '26%', enableCellEdit: false },
		{ name: 'isActive', displayName: 'Active', type: 'boolean', width: '8%' },
  ];
 
  $scope.gridOptions1.multiSelect = false;

//Mise a jour du trainer
  $scope.msg = {};
 
 $scope.gridOptions1.onRegisterApi = function(gridApi){
  $scope.gridApi = gridApi;
  gridApi.edit.on.afterCellEdit($scope,function(rowEntity, colDef, newValue, oldValue){
	$http.get('/functions/updateTrainer/?email='+rowEntity.email);
			//.success(function(data) {};

            var confirm = '<div class="alert alert-success" role="alert">Profil of <Strong>' + rowEntity.f_name + ' ' + rowEntity.l_name+'</Strong> was successfully updated</div>';
	    //var scopeNew = $scope.$new();
	   // $scope.msg.lastCellEdited = $compile(confirm)(scopeNew);


     var myEl = angular.element( document.querySelector( '#divConfirm' ) );
myEl.html(confirm )
     //myEl.fadeIn( 30 )
   // myEl.fadeOut( 4000 );
          //  $scope.$apply();

          });
        };


  $http.get('/functions/getallTrainers')
    .success(function(data) {
	for(i = 0; i < data.length; i++){
		data[i].registered = new Date(data[i].created_at); 
	}
	$scope.gridOptions1.data = data;
     	$timeout(function() {
		if($scope.gridApi.selection.selectRow){
	  		$scope.gridApi.selection.selectRow($scope.gridOptions1.data[0]);
		}
      });
				
      
    });



//Trainer details
  var myModal = new modal();
  var urlTrainees='/functions/getallTrainees/?email=';
  $scope.hideGrid = true;

  $rootScope.gridOptions2 = {
    onRegisterApi: function (gridApi) {
      $scope.gridApi = gridApi;
 
      // call resize every 200 ms for 2 s after modal finishes opening - usually only necessary on a bootstrap modal
      $interval( function() {
        $scope.gridApi.core.handleWindowResize();
      }, 10, 500);
      }
  };

	$rootScope.gridOptions2.columnDefs = [
		{ name: 'created_at', displayName: 'Registered' , type: 'date', cellFilter: 'date:"yyyy-MM-dd"', width: '20%' },
		{ name: 'f_name', displayName: 'Firts name', width: '25%' },
		{ name: 'l_name', displayName: 'Last name', width: '25%' },
		{ name: 'email', displayName: 'Email', width: '30%' },
	];
 

  $scope.showModal = function() {
	urlTrainees+=$scope.gridApi.selection.getSelectedRows()[0].email;
	  $http.get(urlTrainees)
    .success(function(data) {
      $rootScope.gridOptions2.data = data;
    });
    	myModal.open();

  };
}]);
 
app.factory('modal', ['$compile', '$rootScope', function ($compile, $rootScope) {
  return function() {
    var elm;
    var modal = {
      open: function() {
 
        var html = '<div class="modal" ng-style="modalStyle">{{modalStyle}}<div class="modal-dialog"><div class="modal-content"><div class="modal-header"></div><div class="modal-body"><div id="grid1" ui-grid="gridOptions2" class="grid"></div></div><div class="modal-footer"><button id="buttonClose" class="btn btn-primary" ng-click="close()">Close</button></div></div></div></div>';
        elm = angular.element(html);
        angular.element(document.body).prepend(elm);
 
        $rootScope.close = function() {
          modal.close();
        };
        
        $rootScope.modalStyle = {"display": "block"};
 
        $compile(elm)($rootScope);
      },
      close: function() {
        if (elm) {
          elm.remove();
        }
      }
    };
 
    return modal;
  };
}]);
 
</script>
<div ng-controller="MainCtrl">
	<div id="divConfirm"></div>
	<button id="showButton" class="btn btn-success" ng-click="showModal()">
		Show details
	</button> 
	<div ui-grid="gridOptions1" ui-grid-selection ui-grid-edit class="grid">
	</div>

</div>

