<script>
	var app = angular.module('app',['ui.grid']);

	app.controller('MainCtrl', function($scope, $http) {

	  $http.get('/functions/getallUsers')
	       .then(function(res){
		  $scope.myData = res.data;        
		});
	});

</script>


<div ng-controller="MainCtrl">
	<div id="grid" ui-grid="{ data: myData }" class="grid"></div>
</div>

