// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid {
	width: 100%;
	height: 400px;
}

.gridPackage{
	width: 100%;
	height: 150px;
}

.gridDiscount{
	width: 100%;
	height: 90px;
}
