<html>
<head>
	<title>BlueWave</title>
</head>
<body>
<div>

<div class="border-form-div">
	<%= image_tag("blue_wave.jpg", :alt => "rss feed", :class => "imgSign")%>
  	<h2>Adviser Registration</h2>
  	<form accept-charset="UTF-8" action="trainer_registration" class="new_user" id="registration_form">
		<input autofocus="autofocus" name="trainer[f_name]" id="f_name" placeholder="First name" type="text" required >
	<input autofocus="autofocus" name="trainer[l_name]" id="l_name" placeholder="Last name" type="text" required >
    		<input autofocus="autofocus" id="email" name="trainer[email]" placeholder="Email address" type="email" ng-model="email" required >
    		<input id="password" name="trainer[password]" placeholder="Password" type="password" ng-model='password' required >
		<input name="page" type="hidden" value="1">
    		<input id="encrypted_password" name="trainer[encrypted_password]" placeholder="Password" type="password" ng-model='password' required >
		<select autofocus="autofocus" name="package" id="package" type="select">
			  <option value="1">Trial Adivisor</option>
			  <option value="2">Junior Advisor</option>
			  <option value="3">Senior Advisor</option>
			  <option value="4">Unlimited Advisor</option>
		</select>
          
<div class="form-control-group">
            
            <div class="controls">
             <input id="agree" class="checkbox" type="checkbox" name="agree" required >
	     <label class="control-label" for="message"> 12 month pre-paid subscription</label>
            </div>
          </div>
    		<input class="btn btn-primary" name="commit" type="submit" value="Sign up" ng-click="submit($event)">
	</form>    
	<a href="trainer_login">Sign in</a><br>
</div>
</div>
</body>
</html>
