<!DOCTYPE html>
<html>
<head>
  <title>BlueWave</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
<div>

<%= yield %>

 </div>

</body>
</html>
