<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>BlueWave</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >

<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Blue Wave : Overview</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
			<a href="http://www.blue-wave.de/">
				<i class="glyphicon glyphicon-user"></i>
				<% if trainer_signed_in? %>
				   <%= current_trainer.email %>
				<% end %>
				: Logout
			</a>

		</li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<%= yield %>

<!-- /Main -->
</body>
</html>
