<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>BlueWave</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >

<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Blue Wave : Overview</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <% if user_signed_in? %>
   <%= current_user.email %>
<% end %> <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="#">My Profile</a></li>
                    </ul>
                </li>
                <li>
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
</li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <!-- Left column -->
            <strong><i class="glyphicon "></i>Menu</strong>
            <hr>
            <ul class="nav nav-stacked">
        	<li class="active">
			<%= link_to "Advisors", "/home/trainer", :method => :post %>
		</li>
                <li>
			<%= link_to "Options", "/home/option", :method => :post %>
		</li>
                <li>
			<%= link_to "Package", "/home/package", :method => :post %>
		</li>
       </div>
 <div class="col-sm-10">

<%= yield %>

 </div>
</div>
</div>
<!-- /Main -->
</body>
</html>
